@import url('../App.css'); /* Bring Global styling :) */

/* Add shadows to create the "card" effect */
.contact-card { 
    /* background-color: #E2E5E37A; */
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin-bottom: 2em;
    
    background-color: #1b2530b8;
    /* background-color: #1b253088; */
}

/* Add some padding inside the card container */
.card-container { padding: 10px 15px; }

.contact-item { 
    padding: 10px 0; 
    
    /* Note: RMV color: white IF you change contact-card bg color back! */
    color: white;
}

input[class="contact-edit-txt"] {
    padding: 5px 15px 5px 5px;
    margin: 3px;
    display: inline-flex;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.contact-edit-txt:focus { outline: none; }

/* Card Buttons */

/* TODO: add the class names and color theme the edit/deletes */
.card-btn-box button {
    cursor: pointer;
    border-radius: 0;
    padding: 10px 12px;
    margin-right: .25em;
    border: 1px solid #1B2530;
    font-weight: 600;
    letter-spacing: 3px;
    transition: all 2s ease;
}

.card-btn-box button .theme-edit-btn span, .theme-dlt-btn span {
    display: inline-flex;
    vertical-align: sub;
}


