@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Neucha&display=swap');


.App {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
}


/* Global Styling */

.text-center { text-align: center; }
.content-space { padding: 1.75em 0; }
  @media (max-width: 980px) { .content-space { padding: 1.5em 0; }}
  @media (max-width: 767px) { .content-space { padding: 1em 0; }}
  @media (max-width: 480px) { .content-space { padding: 0.5em 0; }}

  /* BG Color variables! */
.theme-bg { background-color: #1B2530; }
.theme-bg-2 { background-color: #2C6380; }
.theme-bg-lite { background-color: #E2E5E3; }

/* FONT: Color variables */
.theme-font-lite { color: #E2E5E3; }

.bottom-shadow-effect {
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}


/* Button Widgets */

.theme-edit-btn { background-color: #1C1F23; }
.theme-edit-btn:hover { 
  /* TODO: come back and add hover styles */
 }

.theme-dlt-btn {
  background-color: #DC3545;
  border: 1px solid #DC3545 !important;
}
.theme-dlt-btn:hover { 
  /* TODO: come back and add hover styles */
 }


/* show/hide stuffz */
.hide-desktop.hide-tablet.show-mbl { display: none; }
.show-desktop.show-tablet.hide-mbl { display: block; }
@media (max-width: 600px) {
  /* hide text and show icon for mbl! */
  .hide-desktop.hide-tablet.show-mbl { display: block; }
  .show-desktop.show-tablet.hide-mbl { display: none; }
}


/* Layout Styles */

.flex-row {
  margin: 0 !important;
  width: 100vw !important;
  max-width: 100vw !important;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
}

.flex-col:first-child {
  background-image: url(https://images.unsplash.com/photo-1572792644425-e9524a8aa2ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1983&q=80) !important;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  width: 40%;
}

.flex-col {
  -ms-flex-order: 1;
  order: 1;
  padding: 0 5.5% !important;
  margin: 0 !important;
  width: 60%;
}

.flex-col:last-child {
  background-image: 
    url("https://media.discordapp.net/attachments/703574209904771162/982742070361985044/staqFI-official-logo-vector.png"), 
    url('https://cdn.discordapp.com/attachments/703574209904771162/983445651130048602/20220606_130137.jpg');
  background-size: 20%, cover;
  background-repeat: no-repeat;
  background-position: 75%, center;
  background-attachment: fixed, scroll;
}


.header-box {
  text-transform: uppercase;
  font-size: 2em;
  z-index: 1;
  text-align: center;
  padding: 10px !important;
}


/* Responsive Design */

@media (max-width: 980px) {

  .flex-row {
    flex-direction: column-reverse;
    width: 100% !important;
    max-width: 100% !important;
  }
  .flex-row .flex-col { 
    width: 100% !important; 
    padding: unset !important;
  }
  .flex-col:first-child {
    background-position: center;
    height: 60vw;
  }
  .flex-col:last-child {
    background-size: 50%, cover;
    background-position: center;
  }
}

@media (max-width: 767px) { .header-box { font-size: 1.25em; } }

@media (max-width: 480px) {

  .header-box { font-size: 0.75em; }


}